[Unit]
Description=OpenUEM Agent
After=network.target

[Service]
Type=simple
ExecStart=/opt/openuem-agent/bin/openuem-agent
User=root
Group=openuem-agent

[Install]
WantedBy=network.target